.video-container {
    position: relative;
    width: 300px;
    height: 200px;
    overflow: visible;
    display: inline-block;
}

.video-thumbnail {
    width: 100%;
    height: 100%;
    object-fit: contain;
    transition: transform 0.4s ease;
    position: absolute;
    top: 0;
    left: 0;
}

.video-container:hover .video-thumbnail {
    transform: scale(3);
    z-index: 1000;
}

.image-container {
    position: relative;
    width: 300px;
    height: 130px;
    overflow: visible;
    display: inline-block;
}

.image-thumbnail {
    width: 100%;
    height: 100%;
    object-fit: contain;
    transition: transform 0.4s ease;
    position: absolute;
    top: 0;
    left: 0;
}

.image-container:hover .image-thumbnail {
    transform: scale(4);
    z-index: 1000;
}

@media screen and (max-width: 960px) {

    .video-container {
        width: 100%;
        height: auto;
        margin-top: 50px;
        overflow: hidden;
    }

    .image-container {
        width: 100%;
        height: auto;
        margin-top: 40px;
        overflow: hidden;
    }

    .video-thumbnail,
    .image-thumbnail {
        position: relative;
        transform: none !important;
    }

    .video-container:hover .video-thumbnail,
    .image-container:hover .image-thumbnail {
        transform: none !important;
    }
}