<footer style="text-align: center;">
    <p style="line-height: 1.2;">
        &copy; <span id="copyright-year"></span> Allen Tu
        &middot;
        <a href="#" id="theme-toggle" aria-label="Switch to dark mode">
            <i class="fa fa-moon"></i>
        </a>
        &middot;
        <a href="https://github.com/tuallen/tuallen.github.io" target="_blank" rel="noopener"
            aria-label="View source code">
            <i class="fa fa-code"></i>
        </a>
        &middot;
        <a href="/static/images/QRcode_website.png?v=2026-03-05" title="Website QR Code" target="_blank"
            rel="noopener" aria-label="Open mobile QR code"><i class="fa fa-qrcode"></i></a>
    </p>
</footer>