<footer style="text-align: center;">
    <p style="line-height: 1.2;"><small>
            Thank you to <a href="https://somepago.github.io/">Gowthami Somepalli</a> for<br>
            generously <a href="https://github.com/tuallen/tuallen.github.io">open-sourcing</a> their code! <br>
            &copy; <span id="copyright-year"></span> Allen Tu &middot;
            <a href="/static/images/QRcode_website.png" target="_blank" rel="noopener" style="opacity: 0.7;"
                aria-label="Open mobile QR code">
                <i class="fa fa-qrcode"></i>
            </a>
        </small>
    </p>
</footer>