<header style="text-align: center;">
    <h1 class="site-title">
        <a href="/" class="brandmark" aria-label="Allen Tu (Home)">
            <i class="ai ai-allentu" aria-hidden="true"></i>
            <span class="sr-only">Allen Tu</span>
        </a>
    </h1>
    <div>
        <a href="/static/images/Headshot.png">
            <picture>
                <source srcset="/static/images/Headshot_Square_Background.webp" type="image/webp">
                <img src="/static/images/Headshot.jpg" alt="Portrait of Allen Tu" class="portrait">
            </picture>
        </a>
        <p>
            <a href="mailto:atu1@umd.edu"> atu1@umd.edu</a>
        </p>

        <div class="icon-grid">
            <a href="/files/AllenTu_CV.pdf"><i class="ai ai-cv"></i></a>
            <a rel="me" href="https://scholar.google.com/citations?user=sqPGyG4AAAAJ&hl"><i
                    class="ai ai-google-scholar"></i></a>
            <a rel="me" href="https://www.linkedin.com/in/allentu/"><i class="fa-brands fa-linkedin"></i></a>
            <a rel="me" href="https://www.xiaohongshu.com/user/profile/6786b4ad0000000008018207">
                <i class="fa-xhs"></i>
            </a>
            <a rel="me" href="https://github.com/tuallen"><i class="fa-brands fa-github"></i></a>
            <a rel="me" href="https://www.semanticscholar.org/author/Allen-Tu/2306782092"><i
                    class="ai ai-semantic-scholar"></i></a>
            <a rel="me" href="https://twitter.com/tuallen_"><i class="fa-brands fa-twitter"></i></a>
            <a href="/static/images/WeChat.png"><i class="fa-brands fa-weixin"></i></a>
        </div>
        <br>
    </div>

    <ul class="navbar">
        <li class="navbar_li"><a href="/" data-nav="home">Home</a></li>
        <li class="navbar_li"><a href="/hub/" data-nav="hub">Link Hub</a></li>
        <li class="navbar_li"><a href="/3d/" data-nav="3d">3D/4D Research</a></li>
    </ul>
</header>